
  <div class="row">
      <div class="col-6">
        <div class="row">

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Sobre mim</title><rect width="100%" height="100%" fill="#e05ad4"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            <h2>Sobre mim</h2>
            <p>Busco sempre dar o melhor no que faço, me sinto desafiado sempre que aprendo algo novo, tenho muita facilidade em fazer amizades e trabalhar em grupo. <br>
              No tempo livre gosto de estar junto da minha filha e aproveitar ao lado dela, e também gosto de jogar no computador.</p>
          </div>

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Objetivos Profissionais</title><rect width="100%" height="100%" fill="#e05ad4"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            <h2>Objetivo Profissional</h2>
            <p>Busco uma oportunidade para iniciar e aprender na área do desenvolvimento, busco uma empresa que esteja dispota a me dar uma chance e ajudar a desenvolver minhas habilidades na programação e adquirir experiência.</p>
          </div>

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Redes Sociais</title><rect width="100%" height="100%" fill="#e05ad4"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            <h2>Redes Sociais</h2>
            <p>	<strong>Facebook</strong><br>
              <a class="redeSocial" href="https://www.facebook.com/rafael.fernando.56">https://www.facebook.com/rafael.fernando.56</a></p>
              <p> <strong>Linkdin</strong><br>
                <a class="redeSocial" href="https://www.linkedin.com/in/rafael-fernando-a45b63173/">https://www.linkedin.com/in/rafael-fernando-a45b63173/</a></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <main class="containner">
          <figure>
            <img src="../assets/Rafael.png">
          </figure>
        </main>
      </div>
    </div>